.search {
  max-width: 90vw;
  margin: 3rem auto;
}

.search__container {
  text-align: center;
}

.search__input {
  width: 90%;
  font-size: x-large;
  height: 2rem;
  border-width: 0 0 2px;
  outline: none;
  border-color: #ff3333;
}

.search__input::-webkit-input-placeholder {
  color: #bababa;
  font-size: 0.75rem;
}

.search__input::-moz-placeholder {
  color: #bababa;
  font-size: 0.75rem;
}

.search__input:-ms-input-placeholder {
  color: #bababa;
  font-size: 0.75rem;
}

.search__input::-ms-input-placeholder {
  color: #bababa;
  font-size: 0.75rem;
}

.search__input::placeholder {
  color: #bababa;
  font-size: 0.75rem;
}

.search__button__container {
  margin-top: 15px;
  text-align: center;
}

.search__button {
  padding: 10px 10px;
  width: 90%;
  border-radius: 30px;
  border-color: #ff3333;
  color: #ff3333;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.search__button:hover {
  color: white;
  background-color: #ff3333;
  box-shadow: none;
  outline: none !important;
  border: none;
}

@media screen and (min-width: 768px) {
  .search__input {
    width: 65%;
  }

  .search__button {
    width: 25%;
  }
}
